[submodule "nvim/all/impatient.nvim"]
	path = nvim/all/impatient.nvim
	url = https://github.com/lewis6991/impatient.nvim
[submodule "nvim/all/nvim-solarized-lua"]
	path = nvim/all/_obsol/nvim-solarized-lua
	url = https://github.com/ishan9299/nvim-solarized-lua.git
[submodule "nvim/all/plenary.nvim"]
	path = nvim/all/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/all/nvim-cmp"]
	path = nvim/all/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim/all/cmp-nvim-lsp"]
	path = nvim/all/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim/all/cmp_luasnip"]
	path = nvim/all/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "nvim/all/vim-fugitive"]
	path = nvim/all/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/all/telescope.nvim"]
	path = nvim/all/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/all/telescope-fzf-native.nvim"]
	path = nvim/all/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "nvim/all/indent-blankline.nvim"]
	path = nvim/all/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "nvim/all/lualine.nvim"]
	path = nvim/all/_obsol/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim/all/nvim-treesitter"]
	path = nvim/all/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/all/nvim-treesitter-textobjects"]
	path = nvim/all/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "nvim/all/playground"]
	path = nvim/all/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "nvim/all/nvim-lspconfig"]
	path = nvim/all/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/all/LuaSnip"]
	path = nvim/all/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "nvim/all/jupyter-vim"]
	path = nvim/all/jupyter-vim
	url = https://github.com/jupyter-vim/jupyter-vim
[submodule "nvim/all/which-key.nvim"]
	path = nvim/all/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "nvim/all/rnvimr"]
	path = nvim/all/rnvimr
	url = https://github.com/kevinhwang91/rnvimr
[submodule "nvim/all/cmp-buffer"]
	path = nvim/all/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "nvim/all/cmp-calc"]
	path = nvim/all/cmp-calc
	url = https://github.com/hrsh7th/cmp-calc
[submodule "nvim/all/cmp-digraphs"]
	path = nvim/all/cmp-digraphs
	url = https://github.com/dmitmel/cmp-digraphs
[submodule "nvim/all/cmp-path"]
	path = nvim/all/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "nvim/all/cmp-cmdline"]
	path = nvim/all/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "nvim/all/lualine-lsp-progress"]
	path = nvim/all/_obsol/lualine-lsp-progress
	url = https://github.com/arkav/lualine-lsp-progress
[submodule "nvim/all/cmp-rg"]
	path = nvim/all/cmp-rg
	url = https://github.com/lukas-reineke/cmp-rg
[submodule "nvim/all/cmp-fuzzy-path"]
	path = nvim/all/cmp-fuzzy-path
	url = https://github.com/tzachar/cmp-fuzzy-path
[submodule "nvim/all/fuzzy.nvim"]
	path = nvim/all/fuzzy.nvim
	url = https://github.com/tzachar/fuzzy.nvim
[submodule "nvim/all/cmp-fuzzy-buffer"]
	path = nvim/all/cmp-fuzzy-buffer
	url = https://github.com/tzachar/cmp-fuzzy-buffer
[submodule "nvim/all/gitsigns.nvim"]
	path = nvim/all/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/all/trouble.nvim"]
	path = nvim/all/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "nvim/all/nvim-comment"]
	path = nvim/all/nvim-comment
	url = https://github.com/terrortylor/nvim-comment
[submodule "nvim/all/nvim-ts-context-commentstring"]
	path = nvim/all/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring
[submodule "nvim/all/tokyonight.nvim"]
	path = nvim/all/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "nvim/all/nvim-colorizer.lua"]
	path = nvim/all/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "nvim/all/plantuml-syntax"]
	path = nvim/all/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "nvim/all/plantuml-previewer.vim"]
	path = nvim/all/plantuml-previewer.vim
	url = https://github.com/weirongxu/plantuml-previewer.vim
	ignore = untracked
[submodule "nvim/all/surround.nvim"]
	path = nvim/all/surround.nvim
	url = https://github.com/ur4ltz/surround.nvim
[submodule "nvim/all/leap.nvim"]
	path = nvim/all/leap.nvim
	url = https://github.com/ggandor/leap.nvim
[submodule "nvim/all/vim-repeat"]
	path = nvim/all/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/all/nvim-autopairs"]
	path = nvim/all/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
	ignore = untracked
[submodule "nvim/all/nvim-ts-rainbow"]
	path = nvim/all/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow
[submodule "nvim/all/symbols-outline.nvim"]
	path = nvim/all/symbols-outline.nvim
	url = https://github.com/simrat39/symbols-outline.nvim
	ignore = untracked
[submodule "nvim/all/vim-matchup"]
	path = nvim/all/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "nvim/all/spellsitter.nvim"]
	path = nvim/all/spellsitter.nvim
	url = https://github.com/lewis6991/spellsitter.nvim
[submodule "nvim/all/undotree"]
	path = nvim/all/undotree
	url = https://github.com/mbbill/undotree
[submodule "nvim/all/vim-visual-multi"]
	path = nvim/all/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "nvim/all/dressing.nvim"]
	path = nvim/all/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim
[submodule "nvim/all/legendary.nvim"]
	path = nvim/all/legendary.nvim
	url = https://github.com/mrjones2014/legendary.nvim
[submodule "nvim/all/vim-easy-align"]
	path = nvim/all/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "nvim/all/vim-highlighter"]
	path = nvim/all/vim-highlighter
	url = https://github.com/azabiong/vim-highlighter
[submodule "nvim/all/cybu.nvim"]
	path = nvim/all/cybu.nvim
	url = https://github.com/ghillb/cybu.nvim
[submodule "ranger/ranger_devicons"]
	path = ranger/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "nvim/all/vim-textobj-user"]
	path = nvim/all/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "nvim/all/switch.vim"]
	path = nvim/all/switch.vim
	url = https://github.com/AndrewRadev/switch.vim
[submodule "nvim/all/vim-cool"]
	path = nvim/all/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "nvim/all/nvim-bqf"]
	path = nvim/all/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf
[submodule "nvim/all/vim-asterisk"]
	path = nvim/all/vim-asterisk
	url = https://github.com/haya14busa/vim-asterisk
	ignore = untracked
[submodule "nvim/all/vim-speeddating"]
	path = nvim/all/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "nvim/all/vim-altr"]
	path = nvim/all/vim-altr
	url = https://github.com/kana/vim-altr
	ignore = untracked
[submodule "nvim/all/fish.vim"]
	path = nvim/all/fish.vim
	url = https://github.com/nickeb96/fish.vim
[submodule "nvim/all/conjure"]
	path = nvim/all/conjure
	url = https://github.com/Olical/conjure
[submodule "nvim/all/vlime"]
	path = nvim/all/vlime
	url = https://github.com/vlime/vlime
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/zsh-async"]
	path = zsh/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule "zsh/alias-tips"]
	path = zsh/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "zsh/zsh-autopair"]
	path = zsh/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "nvim/all/tagbar"]
	path = nvim/all/tagbar
	url = https://github.com/preservim/tagbar
[submodule "nvim/all/nvim-surround"]
	path = nvim/all/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "nvim/all/keymap-amend.nvim"]
	path = nvim/all/keymap-amend.nvim
	url = https://github.com/anuvyklack/keymap-amend.nvim
[submodule "nvim/all/pretty-fold.nvim"]
	path = nvim/all/pretty-fold.nvim
	url = https://github.com/anuvyklack/pretty-fold.nvim
[submodule "nvim/all/vim-foldsearch"]
	path = nvim/all/vim-foldsearch
	url = https://github.com/embear/vim-foldsearch
[submodule "nvim/all/vim-fetch"]
	path = nvim/all/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch
[submodule "nvim/all/linediff.vim"]
	path = nvim/all/linediff.vim
	url = https://github.com/andrewradev/linediff.vim
[submodule "nvim/all/vim-table-mode"]
	path = nvim/all/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "nvim/all/fold-preview.nvim"]
	path = nvim/all/fold-preview.nvim
	url = https://github.com/anuvyklack/fold-preview.nvim
[submodule "nvim/all/parinfer-rust"]
	path = nvim/all/parinfer-rust
	url = https://github.com/eraserhd/parinfer-rust
